import json
import pathlib
import urllib.parse
import pandas as pd
import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db

from sqlalchemy import create_engine
from geoalchemy2 import WKTElement, Geometry
from sqlalchemy.orm import declarative_base
